.tabs
  display flex
  position relative
  height 46px
  // overflow hidden
  background #000
  -webkit-app-region drag
.app-drag
  -webkit-app-region drag
  flex-grow: 1
  flex-shrink: 0
  min-width 100px
  // flex-basis 1%
  // position absolute
  // left 0
  // top 0
  // height 15px
  // right 0
  // z-index 1
.tabs-inner
  // position relative
  // z-index 2
  // padding 0 5px
  // margin-top 10px
  overflow hidden
  display flex
  height 46px
  min-width 166px
  // flex-basis: 1%
  // overflow-x scroll
  // overflow-y hidden
  // margin-left 42px
  padding-left: 43px
  -webkit-app-region no-drag
.tabs-wrapper
  display flex
  flex-shrink: 0
  // z-index 3
// .tabs-inner .app-drag
//   z-index 2
//   height 46px
.tab
  flex-shrink: 0
  -webkit-app-region no-drag
  display inline-block
  vertical-align middle
  cursor pointer
  position relative
  min-width 100px
  max-width 200px
  line-height 36px
  margin 5px 3px 5px 0
  border-radius 3px
  background #333
  text-align center
  color #aaa
  .tab-reload
  .tab-close
    display none
  &.active
    color #aaa
    background #000
  &:hover
    .tab-close
      display block
  &.dragover-tab::after
    position absolute
    content ''
    left -2px
    top 0
    width 1px
    border 1px dashed #777
    height 36px
  &.error
    .tab-reload
      display inline-block
      color #fff
.tab-is-transporting
  position absolute
  left 0
  right 0
  bottom 0
  height 0
  border-bottom 1px dashed green
.tab-status
  position absolute
  left 2px
  top 2px
  width 5px
  height 5px
  border-radius 5px
  background-color #444
  &.success
    background-color green
  &.error
    background-color red
  &.processing
    background-color #08c
.tab-close
  position absolute
  right 5px
  cursor pointer
  top 50%
  margin-top -8px
  background #555
  border-radius 100%
  color #ccc
  height 16px
  width 16px
  text-align center
  line-height 16px
  font-size 10px
  &:hover
    color #fff

.tabs-add-btn
  display inline-block
  vertical-align middle
  margin 0 3px
  -webkit-app-region no-drag
  color #aaa
  &:hover
    color #ccc
// .control
//   position absolute
//   top 0
//   right 0
.tabs-extra
  flex-shrink: 0
  // display: inline-block
  // position absolute
  // height 46px
  margin-left: auto
  // top 0
  // right 0
  line-height 46px
  width 81
  // z-index 20
  -webkit-app-region no-drag
  background #000
  .ant-btn
    background #333
    color #aaa
    border-color: #333
    &:hover
      color #ccc
  .tabs-dd-icon
    color #aaa

.window-controls
  margin: 5px 5px 5px 0
  flex-shrink: 0
  // display: inline-block
  // position absolute
  // right 5px
  // margin-left: auto
  -webkit-app-region no-drag
  // top 5px
  // z-index 200
  border-radius 0 0 3px 3px
  // padding 0 0 0 4px
  background #333

.window-control-box
  display inline-block
  width 30px
  height 30px
  color #ccc
  -webkit-app-region no-drag
  &:hover
    color #08c
    cursor pointer
    .icon-maximize
      border-color #08c
  .widnow-control-icon
    padding: 5px

.icon-maximize
  width 10px
  height 7px
  border 1px solid #ccc
  cursor pointer
  &.is-max
    height 6px
    position relative
    &:before
      position absolute
      content ''
      left -3px
      top 3px
      width 8px
      height 4px
      border 1px solid #ccc
      border-top none
      border-right none

.control-icon:hover
  color #fff
.tab-scroll-icon
  color #888
  &:hover
    color #aaa