#container
  min-width 300px
  // border 1px solid #ccc9
  padding-top: 5px
  background-color: #212121
.common-err-desc
  &:hover
    text-overflow clip
    overflow-x hidden
    white-space pre
    max-height 300px
    overflow scroll
.ssh-wrap-show
  margin-left 43px
.error-wrapper
  background #000
  height 100%
  position fixed